.cardStudent{
    border: solid 1px black;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b8b0b0;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}